.centerBtn{
    justify-content:center
}
.btnRegistrar{
    margin-right: 10px
}

.containerBtn{
    margin-top: 5%;
}

.containerRadinBtn{
    margin-top: 5%;
}

.centerlabelRadio{
    text-align: justify;margin-top: 2%;
}
