  <div class="example-container">
    <mat-toolbar color="primary" class="example-toolbar" >
        <button mat-icon-button >

        </button>

        <h1 class="example-app-name">Gestión de usuarios</h1>

        <span class="example-spacer"></span>

        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
           
            <button mat-menu-item >
                <mat-icon>exit_to_app</mat-icon>
                <span>Cerrar Sesión</span>
            </button>
        </mat-menu>
    </mat-toolbar>
    <app-usuario></app-usuario>